body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

.main {
  margin-top: 10%;
}

.logo {
  width: 272px;
  height: 92px;
}

.search-bar input {
  width: 50%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #dcdcdc;
  border-radius: 24px;
}

.buttons {
  margin-top: 20px;
}

.buttons button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background-color: #f8f9fa;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #e8e8e8;
}

#results, #history {
  margin-top: 40px;
  text-align: left;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

a {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  color: #1a0dab;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#suggestions {
  list-style: none;
  padding: 0;
  margin-top: 5px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#suggestions li {
  padding: 8px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

#suggestions li:hover {
  background-color: #e2e2e2;
}